pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get Metadata1').output.childItems), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/yo_databricks/read_stream_analytics"
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Notebook1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Header": "{\"Content-Type\": \"application/json\"}"
								},
								"url": "https://prod-32.southeastasia.logic.azure.com:443/workflows/6e5548c53309417a9368e7257241afa7/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=8L9ci7swP_TorH52ljRbfqpMym1VJBF4Tght7R9f3fM",
								"body": {
									"value": "{\r\n  \"status\": \"Success\",\r\n  \"message\": \"Your ADF pipeline completed successfully.\"\r\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-01-24T07:21:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}